@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap');



  *{
      margin:0;
      box-sizing: border-box;
  }

  html{
      scroll-behavior: smooth;
      font-size: 16px;
  } 

  body{
    background-color: #3d5a80;
  }


  nav{
      font-family: 'Poppins', sans-serif;
      display: flex;
      justify-content: space-between;
      /* height: 5vh; */
      /* background-color: #e8d6cb; */
      /* position: fixed; */
      width: 100%;
      padding-top: 10px;
  }

  /* .navbar{
    display: ;
  } */

  .nav-menu{
      display: flex;
      list-style: none;
      /* width: 40%; */
      justify-content: space-evenly;
      align-items: center;
  }

  .nav-menu a{
    color:#3d5a80;
    background-color: #e8d6cb;
    border-radius: 10px 10px;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
  }


  h1 {
      font-family: 'Poppins', sans-serif;
  }

  p{
      font-family: 'Poppins', sans-serif;
      font-size: 2rem;
      color:#e8d6cb;
  }
  p1{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color:#e8d6cb;
  }
  p2{
    font-family: 'Poppins', sans-serif;
    color:#e8d6cb;
  }
  p3{
    font-family: 'Poppins', sans-serif;
    color:#e8d6cb;
    font-size: 2rem;
  }
  span{
    font-family: 'Poppins', sans-serif;
    color:#e8d6cb;
  }
  span2{
    font-family: 'Poppins', sans-serif;
    color:black;
    font-size: 1.5rem;
  }
  .titre{
      color:#e8d6cb;
      font-size: 5rem;
  }
  
  .page3left ul{
    list-style: none;
  }

  .page {
    height: 100vh;
    /* padding: 50px; */
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  

  #page1{
    /* background-color: #3d5a80; */
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 94vh;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
}
  .page1left {
    
      width: 60%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      text-align:end;
      padding-right: 10%;
      /* order:0;
      transition:all 0.5s ease-in-out ; */
      flex-shrink: 1;
      

  }

  .page1right {
    
      /* width: 40%; */
      /* display: flex; */
      justify-content: center;
      /* align-items: flex-end; */
      padding-bottom: 0%;
      margin-bottom: 0%;
      transition:all 3s ease-in-out ;
      flex-shrink: 1;
      
  }
  

  #page2{
    /* background-color: #98c1d9; */
    display: flex;

} 
  .page2left {
      width: 20%;
      height: 85vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: end;
      padding-right: 10%;
      background-image: url("gif/giphy3.gif");
      background-size: contain;
      margin-top: 0;
  }

  .page2middle {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: justify;
      align-items: start;
      padding-right: 10%;
      padding-left: 50px;
  }

  h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight:bold;
    text-align: start;
  }

  .page2right {
    display: flex;
    flex-direction: column;
}

  .reseau{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 30px;
  }

  .reseau div{
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  .reseau span{
    font-size: 12px;
  }

  .page2right {
      width: 30%;
  }

  #page3{
    /* background-color: #e8d6cb; */
    display: flex;
    flex-flow: row nowrap;
  }
  .page3left {
    width: 35vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: flex-start;
    padding-right: 10%;
    list-style: none;
  }

  .page3left div{
    justify-content: center;
  }

  .page3middle {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }

  .page3middle div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: start;
    justify-self: center;
  }

  .page3middle h1{
    grid-column: 2;
    grid-row: 1;
  }

  #one{
    grid-column: 1;
    grid-row: 2;
  }
  #two{
    grid-column: 2;
    grid-row: 2;
  }
  #three{
    grid-column: 1;
    grid-row: 3;
  }

  .page3right {
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 0%;
    margin-bottom: 0%;
    background-image: url("gif/giphy.gif");
    background-size: 50% 50%;
  }

  #page4{
      
    display:flex;
    align-items: center;
  }

  .page4left {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: end;
    padding-right: 10%;
  }

  .page4right {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: end;
    padding-right: 10%;
    font-family: 'Poppins', sans-serif;
    color:#e8d6cb;
  }

  fieldset {
    border: none;
  }

  /* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

  /* // arrow animtion + choose direction */
  /* // base */

    
    /* // arrows */
    .arrow-container {
      display: absolute;
      width: 25px;
      height: 50px;
      position: absolute;
      bottom: 5px;
      left: 50%;
      transform: translate(-50%, -50%) rotateZ(0deg);
    }

    .arrow-container:hover {
      cursor: pointer;
    }
    .arrow-container:hover .arrow {
      top: 50%;
    }
    .arrow-container:hover .arrow:before {
      transform: translate(-50%, -50%) rotateZ(-30deg);
    }
    .arrow-container:hover .arrow:after {
      transform: translate(-50%, -50%) rotateZ(30deg);
    }
    .arrow {
      position: absolute;
      left: 50%;
      transition: all 0.4s ease;
    }
    .arrow:before, .arrow:after {
      transition: all 0.4s ease;
      content: '';
      display: block;
      position: absolute;
      transform-origin: bottom right;
      background: #e8d6cb;
      width: 3px;
      height: 20px;
      border-radius: 10px;
      transform: translate(-50%, -50%) rotateZ(-45deg);
    }
    .arrow:after {
      transform-origin: bottom left;
      transform: translate(-50%, -50%) rotateZ(45deg);
    }
    .arrow:nth-child(1) {
      opacity: 0.3;
      top: 35%;
    }
    .arrow:nth-child(2) {
      opacity: 0.6;
      top: 55%;
    }
    .arrow:nth-child(3) {
      opacity: 0.9;
      top: 75%;
    }


    

    /* ///////////////////////////////////////Bouton jour/nuit////////////////////////////////// */


  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
    height: 100%;
    /* width: 100%; */
    display: grid;
    place-items: center;
  }
  #checkbox {
    display: none;
  }
  .toggle {
    height: 40px;
    width: 100px;
    border-radius: 9999px;
    background-image: url(Img/togglenuit.jpg);
    background-size: contain;
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    box-shadow: 6px 6px 10px #0000003d;
  }

  #checkbox:checked + .toggle {
    background-image: url(Img/togglejour.jpg);
    background-size: cover;
  }

  .toggle::before {
    content: "";
    height: 40px;
    width: 60px;
    position: absolute;
    left: 0;
    border-radius: 50% / 80%;
    background-color:#e8d6cb ;
    transition: all 0.5s ease-in-out;
  }

  #checkbox:checked + .toggle::before {
    position: absolute;
    left: calc(100px - 40px);
  }



  /* ///////////////////////////////////////Texte avec fond////////////////////////////////// */

  .banner {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color:#3d5a80;
    margin: 0;
    padding: 0;
  }

  .banner-title {
    font-size: 7em;
    font-family: 'Poppins', sans-serif;
    background-image: url("gif/bluelight.gif");
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin: 0;
    padding: 0;
  }


/* ///////////////////////////////////////Gestion Scroll automatisée////////////////////////////////// */
  

  .scroll-container {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
    scroll-behavior: smooth;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .snap {
    /* height: 300px; */
    scroll-snap-align: start;
  }
  
  @keyframes scroll {
    0% { transform: translateY(0); }
    100% { transform: translateY(-100%); }
  }



/* ///////////////////////////////////////CAROUSEL////////////////////////////////// */


/* .carousel{
  position: relative;
  overflow: hidden;
}

.carousel--container::after{
  content: '';
  clear: both;
  display: table;
}

.carousel__item {
  float: left;
} */


/* ///////////////////////////////////////CLASSES MODE JOUR/NUIT////////////////////////////////// */


  .changeColorBackground{
    background-color: #121212;
  }
  .changeStyleTitre{
    background-image: url("gif/lave.gif");
  }
  .backdark {
    display:none;
    background-size: cover;
  }
  .transition .backdark {
    display: block;
    width: 100vw;
    /* height: 100vh; */
  }
  .changeOrder-1{
    order : -1;
  }
  .changeOrder2{
    order : 2;
  }
  .changeColor{
    color: #3d5a80;
  }


/* ///////////////////////////////////////Menu Burger////////////////////////////////// */

nav{
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-between;
  /* height: 5vh; */
  /* background-color: #e8d6cb; */
  /* position: fixed; */
  width: 100%;
  padding-top: 10px;
  
}

.nav-menu li{
  color:#3d5a80;
  /* background-color: #e8d6cb; */
  border-radius: 10px 10px;
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
  }

.nav-menu{
  display: flex;
  list-style: none;
  /* width: 40%; */
  justify-content: space-evenly;
  align-items: center;
}

a.nav-link {
  /* color: #fff;
  text-decoration: none; */
  /* font-size: 1.5rem; */
  transition: 0.5s;
}

a.nav-link:hover {
  color: orange;
}

.hamburger {
  display: none;
}

.bar,
.fa-times {
  width: 1.5rem;
  height: 3px;
  display: block;
  color: #fff;
  padding: 0;
  margin: 6px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #fff;
}


.bar:nth-child(1) {
  width: 100%;
}

.bar:nth-child(2) {
  width: 200%;
}

.bar:nth-child(3) {
  width: 300%;
}



/********************************************************* TABLETTE ***************************************/
/********************************************************* TABLETTE ***************************************/
/********************************************************* TABLETTE ***************************************/
/********************************************************* TABLETTE ***************************************/

@media screen and (min-width: 768px) and (max-width:1023px) {



  nav{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    /* height: 5vh; */
    /* background-color: #e8d6cb; */
    /* position: fixed; */
    width: 100%;
    padding-top: 10px;
}


.nav-menu{
    display: flex;
    list-style: none;
    /* width: 40%; */
    justify-content: space-evenly;
    align-items: center;
}

.nav-menu a{
  color:#3d5a80;
  background-color: #e8d6cb;
  border-radius: 10px 10px;
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
}
}


/* ///////////////////////////////////////Bouton jour/nuit////////////////////////////////// */




/* ///////////////////////////////////////Texte avec fond////////////////////////////////// */



/* ///////////////////////////////////////Gestion Scroll automatisée////////////////////////////////// */


/* ///////////////////////////////////////CAROUSEL////////////////////////////////// */


/* .carousel{
position: relative;
overflow: hidden;
}

.carousel--container::after{
content: '';
clear: both;
display: table;
}

.carousel__item {
float: left;
} */


/* ///////////////////////////////////////MODE JOUR/NUIT////////////////////////////////// */



/********************************************************* SMARTPHONE ***************************************/
/********************************************************* SMARTPHONE ***************************************//********************************************************* SMARTPHONE ***************************************//********************************************************* SMARTPHONE ***************************************/

@media screen and (max-width:767px) {

  html{
    scroll-behavior: smooth;
    font-size: 7px;
} 


/* menu burger */
  .hamburger {
    display: block;
  }
  .active .bar:nth-child(2) {
    opacity: 0;
  }
  .active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(-315deg);
    transform: translateY(8px) rotate(-315deg);
    width: 300%;
  }
  .active .bar:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
    width: 300%;
  }
  .nav-menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: -100%;
    transition: 0.5s;
  }

  .nav-menu li {
    padding: 16px;
  }

  a.nav-link {
    color: #333;
  }

  .active {
    right: 0;
    z-index: 100;
    transition: 0.2s ease;
  }

  .page2left{
    display:none;
  }

  #banner{
  height: auto;
  }

  #page2{
    justify-content: space-evenly;
  }



  /* ///////////////////////////////////////Gestion Scroll automatisée////////////////////////////////// */



  /* ///////////////////////////////////////CAROUSEL////////////////////////////////// */


  /* .carousel{
  position: relative;
  overflow: hidden;
  }

  .carousel--container::after{
  content: '';
  clear: both;
  display: table;
  }

  .carousel__item {
  float: left;
  } */


  /* ///////////////////////////////////////MODE JOUR/NUIT////////////////////////////////// */

}