@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Teko:wght@300..700&display=swap');



  *{
      margin:0;
  }

  html{
      scroll-behavior: smooth;
      font-size: 16px;
  } 

  body{
    background-color: #3d5a80;
  }


  nav{
      font-family: 'Poppins', sans-serif;
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 7vh;
      width: 100%;
      background-color: #e8d6cb;
  }

  .nav-menu{
      display: flex;
      list-style: none;
      justify-content: space-evenly;
      align-items: center;
  }

  .nav-menu a{
    color:#3d5a80;
    border-radius: 10px 10px;
    padding-inline: 40px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
    }
  
  a.nav-link:hover {
    color: floralwhite;
  }
  .nav-item:hover {
    cursor: pointer;
  }

  h1 {
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
  }

  p{
      font-family: 'Poppins', sans-serif;
      font-size: 2rem;
      color:#e8d6cb;
  }

  p1{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color:#3d5a80;
  }

  span{
    font-family: 'Poppins', sans-serif;
    color:#3d5a80;
  }

  .titre{
      color:black;
      font-size: 4rem;
  }

  .page {
    height: 80vh;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5%;
    padding-top: 5%;
  }
  .sousPage{
    background-color:#e8d6cb;
    border-radius: 20px;
    box-shadow: 0 15px 35px #3232321a,0 5px 15px #0000001a;
    padding:3rem;
  }

  #page1{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 92.9vh;
    padding-bottom: 0;
    padding-top: 0;

  }
  #page1left {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align:end;
  }

  .page1right {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  #moi{
    width: auto;
    height: 90vh;
  }

  
  #page2{
    display: flex;
  } 

  #page2left {
    width: 40%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
  }

  .reseau{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

  .reseau div{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .reseau span{
    font-size: 12px;
  }

  h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight:bold;
    text-align: start;
  }

  #page2right {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items:flex-end;
    justify-content: space-between ;
  }

  #illudév{
    margin-top: 10%;
    width: 60%;
  }

  #page3{
    display: flex;
    flex-flow: row nowrap;
  }

  #page3left {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-right: 2.5%;
  }

  .gridFormation{
    display: flex;
    align-items: center;
    border-top: 1px solid black;
  }

  #a0{
    grid-column: 2;
    grid-row: 1;
  }

  #a{
    grid-column: 1;
    grid-row: 2;
  }
  #b{
    grid-column: 1;
    grid-row: 3;
  }
  #c{
    grid-column: 1;
    grid-row: 4;
  }
  #d{
    grid-column: 1;
    grid-row: 5;
  }
  #e{
    grid-column: 2;
    grid-row: 2;
  }
  #f{
    grid-column: 2;
    grid-row: 3;
  }
  #g{
    grid-column: 2;
    grid-row: 4;
  }
  #h{
    grid-column: 2;
    grid-row: 5;
  }

  #page3right {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-left: 2.5%;
  }

  #page3right div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: start;
    justify-self: center;
  }

  #page3right h1{
    grid-column: 2;
    grid-row: 1;
  }

  #one{
    grid-column: 1;
    grid-row: 2;
  }
  #two{
    grid-column: 2;
    grid-row: 2;
  }
  #three{
    grid-column: 3;
    grid-row: 2;
  }
  #four{
    grid-column: 1;
    grid-row: 3;
  }
  #five{
    grid-column: 2;
    grid-row: 3;
  }
  #six{
    grid-column: 3;
    grid-row: 3;
  }

  #page4{
    display:flex;
    align-items: center;
    padding-bottom: 2.5%;
    padding-top: 2.5%;
  }

  #page4left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 85%;
  }

  #page4right {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:end;
    text-align: end;
    font-family: 'Poppins', sans-serif;
    color:#e8d6cb;
  }

  #page4left ul{
    margin: 0;
    padding: 0;
  }

  fieldset {
    border: none;
  }

  .pieddepage {
    height: 8vh;
    width: 100%;
    background-color:#BF8959;
    border-radius: 40px 40px 0px 0px;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    text-align: end;
    font-size: 0.75rem;

    
  }


  .snap {
    scroll-snap-align: start;
  }

  .scroll-container {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
    scroll-behavior: smooth;
  }

  /* /////////////////////////////////////////////////////////////////////FLECHES BAS DE PAGE////////////////////////////////////////////////////////////////////////////////////////// */
    
    /* // arrows */
    .arrow-container {
      display: absolute;
      width: 25px;
      height: 50px;
      position: absolute;
      bottom: 5px;
      left: 50%;
      transform: translate(-50%, -50%) rotateZ(0deg);
    }

    .arrow-container:hover {
      cursor: pointer;
    }
    .arrow-container:hover .arrow {
      top: 50%;
    }
    .arrow-container:hover .arrow:before {
      transform: translate(-50%, -50%) rotateZ(-30deg);
    }
    .arrow-container:hover .arrow:after {
      transform: translate(-50%, -50%) rotateZ(30deg);
    }
    .arrow {
      position: absolute;
      left: 50%;
      transition: all 0.4s ease;
    }
    .arrow:before, .arrow:after {
      transition: all 0.4s ease;
      content: '';
      display: block;
      position: absolute;
      transform-origin: bottom right;
      background: #e8d6cb;
      width: 3px;
      height: 20px;
      border-radius: 10px;
      transform: translate(-50%, -50%) rotateZ(-45deg);
    }
    .arrow:after {
      transform-origin: bottom left;
      transform: translate(-50%, -50%) rotateZ(45deg);
    }
    .arrow:nth-child(1) {
      opacity: 0.3;
      top: 35%;
    }
    .arrow:nth-child(2) {
      opacity: 0.6;
      top: 55%;
    }
    .arrow:nth-child(3) {
      opacity: 0.9;
      top: 75%;
    }


    

    /* ///////////////////////////////////////Bouton jour/nuit////////////////////////////////// */


  /* *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */

  .container {
    /* height: 100%; */
    /* width: 100%; */
    display: grid;
    place-items: center;
    order: 3;
  }
  #checkbox {
    display: none;
  }
  .toggle {
    height: 40px;
    width: 100px;
    border-radius: 9999px;
    background-image: url(Img/togglenuit.jpg);
    background-size: contain;
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    box-shadow: 6px 6px 10px #0000003d;
  }

  #checkbox:checked + .toggle {
    background-image: url(Img/togglejour.jpg);
    background-size: cover;
  }

  .toggle::before {
    content: "";
    height: 40px;
    width: 60px;
    position: absolute;
    left: 0;
    border-radius: 50% / 80%;
    background-color:#e8d6cb ;
    transition: all 0.5s ease-in-out;
  }

  #checkbox:checked + .toggle::before {
    position: absolute;
    left: calc(100px - 40px);
  }



  /* ///////////////////////////////////////Texte avec fond////////////////////////////////// */

  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#3d5a80;
    border-radius: 0% 10% 0% 10%;
    
  }

  .banner-title {
    font-size: 7em;
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
    background-image: url("gif/bluelight2.gif");
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin: 0;
    padding: 0;
  }




/* ///////////////////////////////////////CAROUSEL////////////////////////////////// */
#carousel1{
  height:75%
}

.item {
  margin: 40px 10px;
  background-color: #fff;
  box-shadow: 0 15px 35px #3232321a,0 5px 15px #0000001a;
  transition: transform 0.3s;
  transform: translate3d(0,-1px,0);
}

.item:hover{
  transform: translate3d(0, -10px,0);
}

.item img{
  display: block;
  width: 100%;
  height: auto;
}

.item__body{
  padding: 25px;
}

.item__title{
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  margin-bottom: 5px;
  font-weight: bold;
  color:#3d5a80;
}

.item__description {
  font-family: 'Poppins', sans-serif;
  color: #585858
}

.items {
  position: relative;
}


.carousel{
  position: relative;
  overflow: hidden;
}

.carousel__container {
  transition: transform 0.3s;
  transform: translate3d(0,0,0);
}

.carousel__container::after{
  content: '';
  clear: both;
  display: table;
}

.carousel__item {
  float: left;
}

.carousel__next, .carousel__prev{
  position : absolute;
  width : 40px;
  height: 40px;
  background: #fff url(Img/fleche\ droite.png)center center no-repeat;
  background-size: 20px 20px;
  border-radius: 50%;
  top: 50%;
  margin-top: -20px;
  right: -0px;
  box-shadow: 0 15px 35px #3232321a,0 5px 15px #0000001a;
  cursor: pointer;
  transition: transform 0.3s;
}

.carousel__next:hover, .carousel__prev:hover {
  transform: scale(1.2);
}

.carousel__prev{
  background-image: url(Img/fleche\ gauche.png);
  right: auto;
  left : -0px;
}



/* ///////////////////////////////////////CLASSES MODE JOUR/NUIT////////////////////////////////// */


  .changeColorBackground{
    background-color: #121212;
  }
  .changeStyleTitre{
    background-image: url("gif/lave.gif");
  }
  .backdark {
    display:none;
    background-size: cover;
  }
  .transition .backdark {
    display: block;
    width: 100vw;
    /* height: 100vh; */
  }
  .changeOrder-1{
    order : -1;
  }
  .changeOrder2{
    order : 2;
  }
  .changeColorBlue{
    color: #3d5a80;
  }
  .changeColorBlack{
    color: black;
  }
  .changeAlign-1{
    align-items: flex-start;
    text-align: left;
    padding-left: 10%;
  
  }


/* ///////////////////////////////////////Menu Burger////////////////////////////////// */


.hamburger {
  display: none;
}
.overlay {
  display: none;
}

.bar,
.fa-times {
  width: 1.5rem;
  height: 3px;
  display: block;
  color: #fff;
  padding: 0;
  margin: 6px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #fff;
}


.bar:nth-child(1) {
  width: 25%;
}

.bar:nth-child(2) {
  width: 50%;
}

.bar:nth-child(3) {
  width: 75%;
}



/********************************************************* TABLETTE ***************************************/
/********************************************************* TABLETTE ***************************************/
/********************************************************* TABLETTE ***************************************/
/********************************************************* TABLETTE ***************************************/

@media screen and (min-width: 768px) and (max-width:1023px) {



  nav{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    /* height: 5vh; */
    /* background-color: #e8d6cb; */
    /* position: fixed; */
    width: 100%;
    padding-top: 10px;
}


.nav-menu{
    display: flex;
    list-style: none;
    /* width: 40%; */
    justify-content: space-evenly;
    align-items: center;
}

.nav-menu a{
  color:#3d5a80;
  background-color: #e8d6cb;
  border-radius: 10px 10px;
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
}
}


/* ///////////////////////////////////////Bouton jour/nuit////////////////////////////////// */




/* ///////////////////////////////////////Texte avec fond////////////////////////////////// */



/* ///////////////////////////////////////Gestion Scroll automatisée////////////////////////////////// */


/* ///////////////////////////////////////CAROUSEL////////////////////////////////// */


/* .carousel{
position: relative;
overflow: hidden;
}

.carousel--container::after{
content: '';
clear: both;
display: table;
}

.carousel__item {
float: left;
} */


/* ///////////////////////////////////////MODE JOUR/NUIT////////////////////////////////// */



/********************************************************* SMARTPHONE ***************************************/
/********************************************************* SMARTPHONE ***************************************//********************************************************* SMARTPHONE ***************************************//********************************************************* SMARTPHONE ***************************************/

@media screen and (max-width:767px) {

  html{
    scroll-behavior: smooth;
    font-size: 7px;
} 

/*ENLEVER LES ACCROCHES */

.snap {
  scroll-snap-align:none;
}

.scroll-container {
  overflow-y: none;
  scroll-snap-type: none;
  height: 100vh;
  scroll-behavior: smooth;
}

/* MENU BURGER*/

  .hamburger {
    display: block;
    height: 50px;
    width: 50px;
    z-index: 100;
    position: fixed;
    left:15px;
    top:10px;
  }
  .active .bar:nth-child(2) {
    opacity: 0;
  }
  .active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(-315deg);
    transform: translateY(8px) rotate(-315deg);
    width: 75%;
  }
  .active .bar:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
    width: 75%;
  }
  .nav-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: -100%;
    top:30%;
    transition: 0.5s;
  }

  .nav-menu li {
    list-style: none;
    text-align: center;
  }
  .nav-item {
    background-color: #BF8959;
    border-radius: 10px;
    width: 30%;
    margin: 5px;
  }

  a.nav-link {
    color: #333;
  }

  .nav-link{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 100%;
  }

  .nav-menu a {
    padding-inline: 0px;
  }

  .active {
    right: 0;
    z-index: 100;
    transition: 0.2s ease;
  }
  .sombre{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond semi-transparente */
    z-index: 99; /* Assure que l'overlay soit au-dessus de tout le contenu */
  }

/* ORGANISATION DES PAGES */

  .arrow-container{
    display: none;
  }

  .page{
    height: 60rem;
  }

  #page1{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 92.9vh;
    padding-bottom: 0;
    padding-top: 0;

  }
  #page1left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align:center;
  }

  .page1right {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  #moi{
    width: 75%;
    height: auto;
  }

  #page2{
    display: flex;
    justify-content: center;
  } 

  #page2left {
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    padding-left:4rem ;
    padding-right:4rem ;
  }

  #page2right{
    display: none;
  }

  #page3{
    height: 130rem;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  #page3left {
    width: 60%;
    height: 90%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto);
    margin-right: 0%;
    margin-bottom: 10%;
  }

  .gridFormation{
    /* display: flex;
    align-items: center; */
    border-top: 1px solid black;
    height: 60px;
  }

  #page3right {
    width: 60%;
    height: 60%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-left: 0%
  }

  #page3right h1{
    grid-column: 2;
    grid-row: 1;
  }

  #one{
    grid-column: 1;
    grid-row: 2;
  }
  #two{
    grid-column: 2;
    grid-row: 2;
  }
  #three{
    grid-column:1;
    grid-row: 3;
  }

  #four{
    grid-column: 2;
    grid-row: 3;
  }
  #five{
    grid-column: 1;
    grid-row: 4;
  }
  #six{
    grid-column: 2;
    grid-row: 4;
  }

  #page4{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2.5%;
    padding-top: 2.5%;
    height: 102rem;
  }

  #page4left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 38%;
    margin-bottom: 8%;
  }

  #page4left ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .item__body {
    padding: 5px;
  }

  .item__title {
    font-size: 1rem;
  }

  .carousel__next, .carousel__prev {
    position: absolute;
    width: 20px;
    height: 20px;
  }

  #page4right {
    width: 60%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    text-align: end;
    font-family: 'Poppins', sans-serif;
    color:#e8d6cb;
  }


  /* ///////////////////////////////////////Gestion Scroll automatisée////////////////////////////////// */



  /* ///////////////////////////////////////CAROUSEL////////////////////////////////// */


  /* .carousel{
  position: relative;
  overflow: hidden;
  }

  .carousel--container::after{
  content: '';
  clear: both;
  display: table;
  }

  .carousel__item {
  float: left;
  } */


  /* ///////////////////////////////////////MODE JOUR/NUIT////////////////////////////////// */

}